#timer-wrapper {
  border-radius: 8px !important;
  position: fixed;
  top: 100px;
  right: 150px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 0.5px, rgba(26, 33, 52, 0.2) 0 2px 8px;
  z-index: 999;
  width: 280px;
  height: 75px;
}

#timer-header {
  width: 100%;
  height: 26px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  cursor: grab;
  text-align: center;
  background: linear-gradient(.25turn, #cae1fd, 45%, #a4a3f7);
  color: white;
  border-radius: 8px 8px 0 0 !important;
}

#timer-close-button {
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  transition: color 0.2s ease;
  position: absolute;
  top: 3px;
  right: 10px;
}

#timer-close-button:hover {
  color: #333;
}

#content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 49px;
  width: 100%;
}

#buttons-wrapper {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
  margin: 0 auto;
  padding-left: 32.5px;
}

.timer-button {
  display: inline-flex;
  background: linear-gradient(to right, #a4d3fc, #8a8bf7);
  height: 40px;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 5px !important;
  cursor: pointer;
  border: 2px solid #a4a3f7;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: bold;
  color: white;
  box-shadow: none;
  position: relative;
  padding: 0 5px 0 10px;
}

.timer-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
}

.timer-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 13px;
  width: 10px;
  height: 10px;
  background: #a4a3f7;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(-50%) scale(1.5);
  transition: all 0.3s ease;
}

.timer-button:hover {
  border-color: #cae1fd;
  background: linear-gradient(to right, #8a8bf7, #a4d3fc);
  color: white;
}

.timer-button:hover::before {
  background: white;
}

.timer-button:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.timer-button:active {
  transform: scale(0.95);
}

#display-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#timer-display-container {
  width: 100%;
}

#timer-display {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-grow: 1;
}

#stop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
  text-align: center;
  width: 50px;
  height: 40px;
  color: white;
  background: linear-gradient(to right, #a4d3fc, #8a8bf7);
  border: 2px solid #a4a3f7;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px !important;
}

#stop-button:hover {
  border-color: #cae1fd;
  background: linear-gradient(to right, #8a8bf7, #a4d3fc);
  color: white;
}